Repository SilverSixx/ipmac-be: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-common-service, build-training-service, build-admin-service

build-common-service:
  variables:
    MODULE: common-service
  stage: build
  script:
  - echo "Building $MODULE"
  - mvn $MAVEN_CLI_OPTS -pl $MODULE --also-make-dependents clean deploy
  artifacts:
    expire_in: 30 min
    paths:
    - $MODULE/**/target/*.jar

build-training-service:
  variables:
    MODULE: training-service
  stage: build
  script:
  - echo "Building $MODULE"
  - mvn $MAVEN_CLI_OPTS -pl $MODULE --also-make-dependents clean deploy
  artifacts:
    expire_in: 30 min
    paths:
    - $MODULE/**/target/*.jar

build-admin-service:
  variables:
    MODULE: admin-service
  stage: build
  script:
  - echo "Building $MODULE"
  - mvn $MAVEN_CLI_OPTS -pl $MODULE --also-make-dependents clean deploy
  artifacts:
    expire_in: 30 min
    paths:
    - $MODULE/**/target/*.jar

done be
  README.md
Due: none

add test in ci
  admin-service/src/test/java/dev/datpl/adminservice/AdminServiceApplicationTest.java
  common-service/pom.xml
  common-service/src/main/java/dev/datpl/commonservice/security/RequestIDFilter.java
  common-service/src/main/java/dev/datpl/commonservice/security/SecurityConfig.java
  common-service/src/main/java/dev/datpl/commonservice/service/impl/KeycloakService.java
  common-service/src/main/resources/application.yml
  common-service/src/test/java/dev/datpl/commonservice/CommonServiceApplicationTest.java
  common-service/src/test/java/dev/datpl/commonservice/controller/CommonControllerTest.java
  common-service/src/test/java/dev/datpl/commonservice/service/impl/KeycloakServiceTest.java
  common-service/src/test/java/dev/datpl/commonservice/utils/UserDataProvider.java
  common-service/src/test/resources/application-test.yml
  training-service/src/test/java/dev/datpl/trainingservice/consumer/KeycloakUserConsumerTest.java
  training-service/src/test/java/dev/datpl/trainingservice/controller/TrainingControllerTest.java
  training-service/src/test/java/dev/datpl/trainingservice/repository/UserRepositoryFactoryTest.java
  training-service/src/test/java/dev/datpl/trainingservice/service/impl/TraineeServiceTest.java
  training-service/src/test/java/dev/datpl/trainingservice/service/impl/UserServiceTest.java
Due: build-common-service, build-training-service, build-admin-service

add test in ci
  .gitlab-ci.yml
  Dockerfile
  admin-service/Dockerfile
  admin-service/src/main/resources/application.yml
  docker-compose.yml
  pom.xml
  training-service/src/main/java/dev/datpl/trainingservice/pojo/entity/Course.java
  training-service/src/main/java/dev/datpl/trainingservice/pojo/entity/Trainee.java
  training-service/src/main/java/dev/datpl/trainingservice/service/impl/UserService.java
  training-service/src/main/resources/application.yml
  training-service/src/test/java/dev/datpl/trainingservice/consumer/KeycloakUserConsumerTest.java
  training-service/src/test/java/dev/datpl/trainingservice/repository/UserRepositoryFactoryTest.java
  training-service/src/test/java/dev/datpl/trainingservice/service/impl/TraineeServiceTest.java
  training-service/src/test/java/dev/datpl/trainingservice/service/impl/UserServiceTest.java
Due: build-training-service, build-admin-service

add test in ci
  .gitlab-ci.yml
  training-service/src/test/java/dev/datpl/trainingservice/controller/TrainingControllerTest.java
Due: build-training-service

complete for bdd and tdd
  .gitlab-ci.yml
  common-service/src/test/java/dev/datpl/commonservice/controller/BDDCommonControllerTest.java
  common-service/src/test/java/dev/datpl/commonservice/controller/CommonControllerTest.java
  common-service/src/test/java/dev/datpl/commonservice/utils/UserDataProvider.java
  common-service/src/test/resources/application-test.yml
  pom.xml
  training-service/src/main/java/dev/datpl/trainingservice/controller/TrainingController.java
  training-service/src/main/java/dev/datpl/trainingservice/pojo/request/CourseCreationRequest.java
  training-service/src/main/java/dev/datpl/trainingservice/pojo/response/CourseCreationResponse.java
  training-service/src/main/java/dev/datpl/trainingservice/service/ICourseService.java
  training-service/src/main/java/dev/datpl/trainingservice/service/ITraineeService.java
  training-service/src/main/java/dev/datpl/trainingservice/service/IUserService.java
  training-service/src/main/java/dev/datpl/trainingservice/service/impl/CourseService.java
Due: build-common-service, build-training-service

update readme
  README.md
  common-service-coverage.png
  training-service-coverage.png
Due: none

Create Jenkinsfile
  Jenkinsfile
Due: none

update
  common-service/src/main/java/dev/datpl/commonservice/security/RequestIDFilter.java
  config-server/pom.xml
  config-server/src/main/java/dev/datpl/configserver/.md
  config-server/src/main/java/dev/datpl/configserver/ConfigServerApplication.java
  config-server/src/main/resources/application.yml
Due: build-common-service

Path conditions:
  build-common-service: any of: common-service/**/*
  build-training-service: any of: training-service/**/*
  build-admin-service: any of: admin-service/**/*
